html,body{
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
}

body{
    padding-right: 0!important;
    background-image: url('background.png') !important;
    background-position: center center !important;
    background-attachment: fixed;
    background-repeat:repeat-y !important; 
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover!important;
    background-repeat:repeat-y!important; 
    color: white;
    z-index: 1;
}

.navbar-inverse .navbar-nav>li>a {
    color: white !important;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: gray !important;
}

.navbar-inverse .navbar-nav>li>a:active {
  border-bottom: 4px solid white;
}


.header{

  font-family: 'Monoton', cursive;
  font-size: 15vmin;
  text-shadow: 4px 4px 4px #aaa;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navbar-brand{
  font-family: 'Monoton', cursive;
  color: white!important;
  font-size: 30px !important; 
  text-shadow: 4px 4px 4px #aaa;
  /*
  margin-left: auto;
  margin-right: auto;
  */
  text-align: center;
}

.querySection{
  margin-top: 50px;
  padding-top: 30px;
}

.section
{
  margin-left: 10% ;
  margin-right: 10%;
  width: 80%;
  color: white;
}

.query-card{
  border:2px solid black;
  border-radius:15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:5%;
  padding-right: 5%;
  background-color: rgba(255,255,255,0.7);

  margin-top: 30px;
 }

.query-card a{
  color: #223646;
  font-weight: bold;
  font-style: italic;  
}

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 25px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 7px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}



.nameHeader{
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.btn-custom{
  background-color: #2FBBFF;
  color: white;
  font-weight: bolder;
  font-style: italic;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.box {
  padding: 30px 20px 20px 30px;
  margin-bottom: 50px;
  text-align: left;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  height: auto;
  position: relative;
  color: white;
  background: rgba(0,0,0,0.3);
}

.icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 28px);
  transition: 0.2s;
  border-radius: 50%;
  display: inline-block;
  border: 4px solid #fff;
}

.icon a {
  display: inline-block;
  background: #2FBBFF;
  border: 2px solid #2dc997;
  padding:2px 5px 2px 5px;
  border-radius: 50%;
  transition: 0.3s;
}

.icon i {
  color: #fff;
  /*font-size: 24px*/;
}

.box:hover .icon i {
  color: white;
}

.box:hover .icon a {
  color: white;
  background:#2FBBFF;
}

.title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.title a {
  color: #111;
}

.description {
  font-size: 14px;
  line-height: 24px;
}

.comment-section{
  font-size : 15px;
  margin-right: 5%;
  margin-left: 5%;
}
.post-section{
  margin-left: 5%;
  margin-right: 5%;
}
.break_desc{    
    width:60vw;
    word-wrap: break-word;
}

.break{    
    width:70vw;
    word-wrap: break-word;
}

.left {
  float: left;
  width: 200px;
  text-align: left;
  /*margin: 2px 10px 10px;*/
  display: inline
}
.right {
  float: right;
  text-align: left;
  width:120px;
  margin-right: 20px;
  /*margin: 2px 10px 10px;*/
  display: inline
}
.option{
  height: 34px;
  width: 100%;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  background-color: #2FBBFF;
  border : 1px solid #2FBBFF;
  border-radius: 5px;
  line-height: 2;
  cursor: pointer;
  color: #2FBBFF
  font-weight:bolder;
}

select option{
  background-color: white;
  color: #2FBBFF;
  font-weight:bolder;
}

footer
{ 
  height: 70px;
  background-color: #545454;
  color: white;
  position:relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  margin-top: 30vh;
}
