<div style="margin-top: 30px;">
<center><a ng-href="#/user/dashboard" style="font-size: 20px; color: #2FBBFF;" class="jello animated"> &#8617; Back to dashboard</a></center>
<hr> 
<div class="post-section">
  <div class="row">
    <center><h2 class="wow lightSpeedIn" data-wow-delay="0.4s">Post a query</h2></center>
    <br>
      <form class="form-horizontal wow lightSpeedIn" data-wow-delay="1s" ng-submit="post.postQuery(login.username,queryData)">
        <div class="form-group">
          <label class="control-label col-sm-2" for="title">Title:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" placeholder="Enter title " name="title" ng-model="post.queryData.title">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="description">Description:</label>
          <div class="col-sm-10">          
            <textarea rows="12" class="form-control" id="description" placeholder="Enter description" name="description" ng-model="post.queryData.description"></textarea>
          </div>
        </div>
        <br>
        <div class="form-group">        
          <div>
            <button type="submit" class="btn btn-custom" style="float: right;">Post Query!</button>          
          </div>
        </div>
      </form>
  </div>
</div>
</div>